<!DOCTYPE html>

<html lang="es" xmls:th="http://thymeleaf.org">
    <head>
        <title> Cargar un autor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div><i>Cargar un autor</i></div>
        <br>
        
            <form th:action="@{/autor/cargar}" method="POST">
                <label>Nombre y Apellido 
                <br>
                <input type="text" maxlength="35" name="nombre">
                <br>
                <input type="sumit"> Cargar
            </form>
            <br>
            
    </body>
</html>
