<!DOCTYPE html>

<html lang="es" xmls:th="http://thymeleaf.org">
    <head>
        <title>autor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
         <a th:href="@{http://localhost:8080/autor/cargar}" > <button> Cargar </button>
         <a th:href="@{http://localhost:8080/autor/modificar}" > <button>Modificar</button>
         <a th:href="@{http://localhost:8080/autor/lista}" > <button> Lista</button>
        <a th:href="@{http://localhost:8080/autor/dardebaja}" >  <button> Baja</button>
    </body>
</html>
