<!DOCTYPE html>

<html lang="es" xmls:th="http://thymeleaf.org">
    <head>
        <title>modificar autor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Modificar un autor</div>
        <br>
        <form th:action="@{/autor/modificar}" method="POST">
            <label>Ingrese el autor a modificar </label>
            <input type="text" maxlength="30">
            
            <a th:href="@{http://localhost:8080/autor/autor-lista}" > <button>Cargar</button>
            </form>
    </body>
</html>
