<!DOCTYPE html>
<html lang="es" xmls:th="http://thymeleaf.org">
    <head>
        <title> Editorial Cargar </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
        
        
        <form th:action="@{/editorial/guardar}" method="POST" th:object="${editorial}">
         
            <h1 th:if="${editorial.id == null}">Crear editorial</h1>
            <h1 th:if="${editorial.id != null}">Editar editorial</h1>
           
               
                    <input hidden th:field="${editorial.id}">
               
                    <input hidden th:field="${editorial.alta}">
                
                    <label> Nombre </label> <br>
                    <input th:field="${editorial.nombre}" type=text>  
                    <br>
                    <button type="submit"> Enviar </button>
               
         
        </form>
            <p th:text="${error}"> </p>
            <p th:text="${sucess}"> </p>
        
        
        <br>
        <a href="http://localhost:8080/editorial/lista"> <button>Volver</button> </a>
    </body>
</html>
