<!DOCTYPE html>
<html lang="es" xmls:th="http://thymeleaf.org">
    <head>
        <title> Editorial Lista </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> EDITORIAL LISTA </h1>
        
        <table>
            <thead>
                <tr>
                    <th> N° </th>
                    <th> NOMBRE </th>
                    <th> ALTA </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="edito, iterator : ${editoriales}">
                    <td th:text="${iterator.index+1}"> </td>
                    <td th:text="${edito.nombre}" </td>
                    <td th:text="${edito.alta}"> </td>
            <a href="http://localhost:8080/cargar"> <button>Editar</button> </a>   
                </tr>
                
            </tbody>
        </table>
        <p th:if="${editoriales.isEmpty}" th:text=" 'No hay editoriales cargadas aún' "> </p>
        
    </body>
    <br>
    
    <a href="http://localhost:8080/"><button>Volver</button></a>
    <a href="http://localhost:8080/editorial/cargar"> <button>Cargar</button> </a>
</html>
