<!DOCTYPE html>
<html lang="es" xmls:th="http://thymeleaf.org">
    <head>
        <title>Librería</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 align="center"><i>Libreria</i></h1>
        <br>
        <a  href="http://localhost:8080/autor" > <button> Autores </button> <a/>                  
        <a  href="http://localhost:8080/editorial/lista"> <button> Editorial </button> <a/> 
        <a  th:href="${url}" > <button> Libros </button> <a/> 
        <br>
    </body>
</html>
